SB_URL=https://swmiggtbrjgfbimnuqhq.supabase.co
SB_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN3bWlnZ3RicmpnZmJpbW51cWhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk4ODE0NDksImV4cCI6MjA2NTQ1NzQ0OX0.Y83ZvGmgwrZGoyHXEazWUlD-PJ76c9xaI-5WZ_9_00M

# Database Config
#HOST=aws-o-ap-south-pool.supabase.com
#PORT=6543
#USERNAME=postgres.grufgrcytvrh
#PASSWORD=vhHzRng8iqoUymCn
#DATABASE=postgres

#user=postgres.xbpdayjkvmmjfydxlhil
#password=vhHzRng8iqoUymCn
#host=aws-0-ap-south-1.pooler.supabase.com
#port=5432
#dbname=postgres
